@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
   overflow-x: hidden;
   font-family: 'Nunito', sans-serif;
}

#header-index{
   width: 100vw;
   height: 100vh;
   background-image: url('../img/lanche-capa2.jpg');
   background-position: top;
   background-size: cover;
   position: relative;
}

#menu{
   position: absolute;
   z-index: 10;
   left: 5%;
}

#footer{
   background-color: rgba(0,0,0,1);
}

#menu a{
   color: #fff;
   font-size: 1.15em;
   font-weight: bold;
   margin-left: 5px;
}

#menu a:hover{
   color: rgb(242, 255, 0);
}

#texto-header-index{
   color: #fff;
   text-shadow: 2px 2px 8px #000;
}

#history-section{
   color: #fff;
   padding: 50px 0px;
   margin: 100px 0px;
}

.photo img{
   display: block;
   border-radius: 10%;
   width: 40em;
}

.login-card{
   margin-top: 20px;
}

.card-diff{
   width: 25rem;
   height: 7rem;
   border-radius: 0.25rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-diff:hover{
   box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
   transition: box-shadow 0.3s;
}

.card-diff:nth-child(1){
   background-image: linear-gradient(to right, rgba(85, 158, 158, 0.555), rgba(94, 173, 187, 0.719));
}

.card-diff:nth-child(2){
   background-image: linear-gradient(to right, rgba(172, 140, 119, 0.575), rgba(168, 121, 89, 0.719));
}

.card-diff:nth-child(3){
   background-image: linear-gradient(to right, rgba(174, 104, 177, 0.418), rgba(203, 124, 219, 0.719));
}
.card-diff:nth-child(4){
   background-image: linear-gradient(to right, rgba(224, 211, 224, 0.418), rgba(201, 193, 202, 0.719));
}
