@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
   overflow-x: hidden;
   font-family: 'Nunito', sans-serif;
}

#header-index{
   width: 100vw;
   height: 100vh;
   background-image: url('../img/lanche-capa2.jpg');
   background-position: top;
   background-size: cover;
   position: relative;
}

#menu{
   position: absolute;
   z-index: 10;
   left: 5%;
}

#footer{
   background-color: rgba(0,0,0,1);
}

#menu a{
   color: #fff;
   font-size: 1.15em;
   font-weight: bold;
   margin-left: 5px;
}

#menu a:hover{
   color: rgb(242, 255, 0);
}

#texto-header-index{
   color: #fff;
   text-shadow: 2px 2px 8px #000;
}

#history-section{
   color: #fff;
   padding: 50px 0px;
   margin: 50px 0px;
}

.photo img{
   display: block;
   border-radius: 10%;
   width: 40em;
}

.login-card{
   margin-top: 20px;
}

